BasedOnStyle: LLVM
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeComma
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
NamespaceIndentation : All